@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: #fff;
    user-select: none;
    font-family: 'kanit', sans-serif;
    margin: 0;
    color: rgb(0, 0, 0, 0.8);
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.8);
}
.pad {
    margin-left: auto;
    margin-right: 80px;
}
.navigation {
    background-color: #fff;
    border-bottom: 0.01px solid rgb(204, 204, 204);
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    margin-top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0, 0.8);
}
.whitebark {
    margin-left: auto;
    display: block;
}
.whitebark_svg {
    background-color: #f5f5f5;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.theme {
    display:  none;
    position: absolute;
    right: 20%;
    top: 70px;
    background: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    border: 0.2px solid #ccc;
    width: 150px;
    font-style: normal;
    font-size: x-small;
    font-family: 'kanit', sans-serif;
    z-index: 100;
}
.light {
    padding: 5px;
    border-radius: 4px;
}
.light:hover {
    background: #fff;
}
.light_svg {
    display: flex;
    align-items: center;
}
.dark {
    margin-top: 5px;
    padding: 5px;
    border-radius: 4px;
}
.dark:hover {
    background: #fff;
}
.dark_svg {
    display: flex;
    align-items: center;
}
 .register {
    display: flex;
    background-color: none;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    background-color: whitesmoke;
    margin-left: 20px;
}

nav button {
    background-color: whitesmoke;
    user-select: none;
    border: 0;
    border-radius: 50%;
    font-size: 100%;
    width: 50px;
    height: 50px;
    margin: 5px;
}
#dropdown_content {
    background-color: #fff;
    padding: 15px;
    user-select: none;
    display: none;
    top: 0;
    margin-top: 80px;
    z-index: 9999;
    border: 1px solid rgb(204, 204, 204);
    position: fixed;
    transition: opacity 0.5s ease;
    opacity: 1;
    width: 60%;
    height: 100%;
    left: 0;
    bottom: 0;
    font-family: 'kanit', sans-serif;
}

.dropdown_content_box {
    background-color: #fff;
    height: auto;
    width: auto;
}
.ge_dropdown_content_fun {
    margin-block-start: 20px;
    font-style: normal;
    font-family: 'kanit', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border-block-end: 1px solid rgba(0,0, 0, 0);
    display: block;
}
.ge_dropdown_content_fun_text {
    margin: 7px;
}
.ge_dropdown_content_fun_icon {
    margin: 7px;
}
.ge_dropdown_content_fun_box {
    display: flex;
    font-size: medium;
    position: relative;
}
.md_svg {
    margin: 4px 0 0 auto;
    padding: 4px;
}
.dropdown_content_fun:last-child {
    border-block-end: 0;
}
._main {
    margin: 150px 5px 150px 5px;
    background-color: inherit;
    padding: 20px;
}

.heading_describtion {
    margin: 0px 0px;
}
.heading_describtion h1 {
    font-weight: 500;
    font-size: 40px;
    font-style: normal;
    line-height: 40px;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-family: 'kanit', sans-serif;
}
.paragraph_describtion {
    margin: 20px 0;
}
.paragraph_describtion h3 {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'kanit', sans-serif;
}
.exploration_container {
    margin-top: 40px;
    z-index: -999;
    position: relative;
}
.exploration_box {
    background-color: #fff;
    overflow: hidden;
    width: 90%;
    border-radius: 70px;
    padding: 10px;
    display: flex;
    position: relative;
    align-items: center;
    border: 0.1px solid /*#112e2d*/ #ccc;
}
.exploration_text  button{
    background-color: inherit;
    color: #112e4d;
    border: none;
    position: relative;
    text-align: left;
    font-weight: 600;
    width: 200px;
    padding-left: 10px;
    font-family: 'kanit', sans-serif;
}

.exploration_box .button_right{
    position: absolute;
    right: 0;
}
.exploration_box .button_right button {
    position: relative;
    border-radius: 50%;
    padding: 5px;
    border: none;
    height: auto;
    width: auto;
    margin-right: 6px;
}
.sec {
    margin-block-end: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.block {
    margin-block-end: 200px;
}
.cover {
    font-size: 10px;
    font-weight: 500;
    border: 0.5px solid rgb(28, 39, 76, 1);
    border-bottom: 0;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 350px;
    width: 200px;
    position: relative;
    z-index: -999;
    align-items: center;
    font-style: normal;
    color: rgb(28, 39, 76, 0.5);
}
.buy-NFT {
    text-align: center;
    font-style: normal;
    font-size: 12px;
    margin-block-start: 15px;
    font-family: 'kanit', sans-serif;
}
.head {
    font-style: normal;
    margin: 12px;
    border: 0.3px solid rgb(28, 39, 76, 1);
    border-radius: 4px;
    height: auto;
    font-size: 8px;
}
.head_box {
    margin: 5px;
    border-block-end: 0.1px solid rgb(28, 39, 76, 0.3);
    z-index: -999;
    position: relative;
    font-family: 'kanit', sans-serif;
    color: rgb(28, 39, 76, 0.7);
}
.head_box:last-child {
    border-block-end: 0;
}
.abrev {
    margin: 2px;
    font-family: 'kanit', sans-serif;
}
.consy {
    margin: 5px;
    display: flex;
}
.img {
    border-radius: 10%;
    padding: 0;
}
.text_con {
    margin-inline-start: 0;
    font-weight: 500;
    font-style: normal;
    font-family: 'kanit', sans-serif;
}
.text_con2 {
    margin-inline-start: 10px;
    font-weight: 500;
    font-style: normal;
    font-family: 'kanit', sans-serif;
}
.text_con div:first-child {
    margin-block-end: 5px;
}
.phone_down {
    background: #fff;
    height: auto;
    margin-top: 205px;
    width: 100%;
    position: absolute;
    border: 0.2px solid rgb(28, 39, 76, 1);
    border-radius: 5px;
}
.copy_btn {
    position: absolute;
    right: 0;
}
.flooting {
    background: #fff;
    margin-top: -30px;
    z-index: 999;
    width: 230px;
    margin-left: -16px;
    border: 0.3px solid rgb(28, 39, 76, 1);
    border-radius: 5px;
    height: auto;
    position: absolute;
    font-family: 'kanit', sans-serif;
}
.flooting_box {
    margin: 0;
}
.flooting2 {
    background: #fff;
    width: 250px;
    margin-top: 60px;
    margin-left: -25px;
    border: 0.3px solid rgb(28, 39, 76, 1);
    border-radius: 5px;
    height: auto;
    position: relative;
    z-index: 999;
    color: #1C274C;
    font-style: normal;
    font-family: 'kanit', sans-serif;
    display: block;
}

.flooting_box2 {
    margin: 0;
}
.more {
   display: block;
}
.more_box {
    padding: 6px;
    display: flex;
    justify-content: center;
}
.more_box_svg {
    color: hsl(226, 46%, 20%);
}
.hmm {
    margin: 12px;
}
.text {
   margin: 20px;
   line-height: 1.5em;
}
.exp {
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'kanit', sans-serif;
}
.expa {
    font-size: 13px;
    font-weight: 300;
    color: #1C274C;
    line-height: 24px;
    font-family: 'kanit', sans-serif;
}
.num {
    font-size: large;

}
.W3devtoolsNetwork {
    margin-block-end: 20px;
    border-radius: 7px;
    background-color: #fff;
    height: auto;
    box-shadow: 0 0 25px rgb(0, 0, 0, 0.1);
}
.W3devtoolsNetwork_box {
    margin: 0;
    display: flex;
}
.bolder {
    font-weight: 500;
    font-family: 'kanit', sans-serif;
    font-size: 35px;
}
.W3devtoolsNetwork_tx_container {
    background-color: 0;
    width: 100%;
    font-family: 'kanit', sans-serif;
}
.W3devtools_network_h1 {
    margin-left: 20px;
    font-weight: 500;
    font-size: 36px;
    font-style: normal;
    line-height: 40spx;
    word-spacing: 2.5px;
    letter-spacing: 1px;
    font-family: 'kanit', sans-serif;
}
.W3devtools_network_h1 h1 {
    font-weight: 500;
    font-size: 36px;
    font-style: normal;
    line-height: 40spx;
    word-spacing: 2.5px;
    letter-spacing: 1px;
    font-family: 'kanit', sans-serif;
}
.info_container {
    margin: 10px;
}
.footer {
    background-color: #112e4d;
    position: absolute;
    width: 100%;
    font-family: 'kanit', sans-serif;
}